.Posts {
  max-width: var(--globalMaxWidth);
  margin: 0 auto 20px;
  padding: 0 var(--globalHorizontalPadding) 0;
  line-height: 1.3;
  font-size: 10px;

  &__post {
    margin-bottom: 50px;
  }
    
  &__metadata {
    font-size: 1.4em;
    color: #8898a6;
  }
}