.container {
    max-width: var(--globalMaxWidth);
    margin: 0 auto;
    padding: 0 var(--globalHorizontalPadding) 0;
    font-size: 10px;
}

.postCard {
    margin-bottom: 30px;
}

.otherposts {
    font-size: 16px;
    overflow: hidden;
    margin: 40px 0;
}

.otherpostsPrev {
    float: left;
    margin: 0 20px 30px 0;
}

.otherpostsNext {
    float: right;
}